certifi
git+https://github.com/chainer/chainer.git
cycler
decorator
fastrlock
filelock
imageio
imgaug
kiwisolver
matplotlib
networkx
numpy
opencv-python
Pillow
protobuf
pyparsing
python-dateutil
PyWavelets
scikit-image
scipy
Shapely
six
tensorboardX
tifffile
tqdm
typing-extensions
pika
